<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.contactsmodule">

    <application>

        <activity
            android:name=".ui.activity.DeleteGroupPeopleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.GroupDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ContactDetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>