<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.confmodule">

    <application>
        <activity android:name=".ui.activity.SelectedPeopleActivity"></activity>
        <activity android:name=".ui.activity.MyConfActivity" />
        <activity android:name=".ui.activity.CreateConfActivity" />
    </application>

</manifest>