<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hw.confmodule">

    <application>
        <activity
            android:name=".ui.activity.SelectedPeopleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MyConfActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CreateConfActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>